/* =============
    Base
============= */
base {
  display: grid grid-template-columns;
}

body {
  background-color: #3d4058;
}

.hidden {
  display: none;
}

.section-1 {
  grid-area: auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
}


ul {
  margin: 0;
  padding: 16px;

  li {
    list-style: none;
  }
}