/* =============
    bottomlist
============= */

#list {
    font-family: 'Karla', sans-serif;
    font-weight: 100;
    background-color: $evergreen;
    color: $darkmidnight;
    padding: 10px;
    line-height: 50px;
    text-align: center;
}