/* =============
    brainnav
============= */

#brain {
background-color: $mint;
padding: 15px;
display: grid;
grid-template-columns: 4;

#box{
    background-color: $mint;
    color: $darkmidnight;
    padding-left: 20px;
    text-align: center;
    grid-column: 4;
}
}