/* =============
    brainnav
============= */

#brain {
    background-color: $mint;
    padding: 15px;
    display: grid;
    grid-template-columns: 4;

    #arrows {
        color: $evergreen;
        font-size: 30px;
    }

    img {
        width: 100%;
        padding: 10px;
    }

    #brainimg {
        grid-area: auto;
        width: auto;
        align-content: center;
        grid-column: 4 / -1;
    }

    #box {
        background-color: $mint;
        color: $darkmidnight;
        padding-left: 20px;
        text-align: center;
        grid-column: 4;
    }

    @include md{
        #arrows {
            color: $evergreen;
            font-size: 50px;
        }

    }

    @include lg{
        #arrows {
            color: $evergreen;
            font-size: 70px;
        }

    }
}