/* =============
    diduknow
============= */

#did {
    background-image: url("../img/question.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: left;
    align-items: left;
    background-color: $mustard;
    margin: 10px;
    padding: 20px;


    #duk {
        display: grid;
        padding-left: 50px;
        grid-template-columns: (2 1fr);
        grid-template-rows: auto auto auto;
        text-align: center;
        justify-content: center;
        list-style: none;
        color: $darkmidnight;
        font-size: 15px;

        @include md {
            font-size: 20px;
            padding-left: 100px;
        }

        @include lg {
            font-size: 25px;
            padding-left: 120px;
            h1{
                font-size: 65px;
                text-align: center;
            }
        
            h3{
                font-size: 35px;
                text-align: center;
            }
        }
    }



}