/* =============
    Section-4
============= */

#section-4 {
    H1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 100;
        padding-bottom: 5px;
    }

    #bigtext {
        display: none;
    }

    color: $lightmustard;
    margin: 20px;
    padding: 20px;
    display: grid;

    font-size: 13px;
    padding: 10px;

    @include md {
        #smtext {
            display: none;
        }

        #bigtext {
            display: grid;
            font-size: 15px;
            margin: 20px;
            padding: 40px;
        }

    }

    @include lg {
        #smtext {
            display: none;
        }

        #bigtext {
            display: grid;
            font-size: 17px;
            margin-left: 90px;
            margin-right: 90px;
            padding: 50px;
        }
    }
}