/* =============
    Section-3
============= */

#section-3 {
    color: $lightmustard;
    margin: 40px;
    padding: 20px;
    display: grid;
    font-size: 13px;

    img {
        width: 100%;
      }

    #boxes {
        padding: 10px;
        display: grid;
        margin: 30px;
        grid-template-columns: repeat(2, 2fr);
        #box1 {
            outline: auto;
            padding: 10px;
            margin-right: 10px;
            outline-color: $mint;
            text-align: center;
        }
        #box2 {
            outline: auto;
            padding: 10px;
            margin-left: 10px;
            outline-color: $mint;
            text-align: center;
        }
    }

    @include md {
        font-size: 17px;
    }
}