/* =============
Skills
============= */

#skills {
    li {
        font-family: 'Dosis', sans-serif;
        font-weight: 100;
        padding-bottom: 5px;
    }

    display: grid;
    grid-template-columns: repeat(2 1fr);
    background-image: url("../img/exclamation.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right;
    align-items: right;
    grid-template-rows: auto auto;
    background-color: $mustard;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: $darkmidnight;

    @include md {
        font-size: 180px;
    }

    @include lg {
        font-size: 200px;
    }

    #head {
        padding-left: 20px;
        padding-right: 20px;
    }

    #bullets {
        display: flex;
        text-align: left;
        padding-top: 20px;
        justify-content: center;
        grid-column: 1 / 1;
        display: flex;
        font-size: 20px;
    }

    display: flex;


    ul {
        list-style: none;
    }

    ul li::before {
        content: "\2022";
        color: $mint;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    @include md {
        font-size: 18px;

        #head {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @include lg {
        font-size: 20px;

        #head {
            padding-left: 20px;
            padding-right: 20px;
        }

        #bullets {
            font-size: 25px;
        }
    }
}