/* =============
    Section-2
============= */

#section-2 {
    font-family: 'Montserrat', sans-serif;

    #sec2 {
        @include sm {
            display: grid;
            padding: 5px;
            grid-gap: 3px;
            font-size: 11px;
            grid-template-columns: repeat(1, 2fr);
            grid-template-rows: auto auto;
            grid-template-areas:
                "f"
                "f";
        }

        @include md {
            display: grid;
            grid-gap: 3px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 105px 100px;
            grid-template-areas: "second second";
            font-size: 13px;
        }

        @include lg {
            display: grid;
            grid-gap: 3px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 100px 100px;
            grid-template-areas: "second second";
            font-size: 17px;
        }

        #first {
            @include sm {
                background-color: teal;
                color: white;
                padding: 10px;
                grid-area: rgb(0, 102, 102);
                text-align: left;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            @include md {
                grid-column: 1 / 3;
                grid-row: 1 / -1;
            }

            @include lg {
                grid-column: 1 / 3;
                grid-row: 1 / -1;
            }
        }

        #second {
            @include sm {
                padding-top: 10px;
                background-color: teal;
                color: white;
                padding: 1px;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            @include md {
                grid-column: 3 / -1;
                grid-row: 1 / -1;
            }

            @include lg {
                grid-column: 3 / -1;
                grid-row: 1 / -1;
            }
        }
    }
}