/* =============
    Skills
============= */

#skills {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: $mustard; 
    color: $darkmidnight;

    #bullets{
        text-align: left;
    }
}