/* =============
    Tutoring
============= */

#tutoring {
    padding: 20px;
    #Theader {
        text-align: center;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        padding: 10px;
    }

    background-color: $mint;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    #eng {    
        #englogo{
            color: $bldorange;
            font-size: 70px;
            padding-bottom: 20px;
        }
        background-color: $darkmidnight;   
        color: $lightmustard;    
        display: grid;
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 30px;
    }

    #math {     
        #mathlogo{
            color: $bldorange;
            font-size: 70px;
            padding-bottom: 20px;
        }
        background-color: $midnight;  
        color: $lightmustard;  
        text-align: center;       
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 40px;
    }

    #stud {
        #studlogo{
            color: $bldorange;
            font-size: 70px;
            padding-bottom: 20px;
        }
        background-color: $darkmidnight;  
        color: $lightmustard;  
        text-align: center;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        padding: 30px;
    }

    @include md {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }


}