/* =============
    Tutoring
============= */

#tutoring {
    padding: 30px;

    h1,
    h3,
    p{
        font-family: 'Dosis', sans-serif;
    }

    h1{
        padding-bottom: 10px;
    }
    h3{
        padding-bottom: 5px;
    }

    #Theader {
        text-align: center;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        padding: 10px;
        color: $darkmidnight;
    }

    h4 {
        flex-direction: right;
        color: $darkmidnight;
        font-family: 'Dosis', sans-serif;

    }

    background-color: $mint;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    #eng {
        #englogo {
            color: $bldorange;
            font-size: 70px;
            padding-bottom: 20px;
        }

        background-color: $darkmidnight;
        color: $lightmustard;
        display: grid;
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 30px;
        margin-right: 10px;
    }

    #math {
        #mathlogo {
            color: $bldorange;
            font-size: 70px;
            padding-bottom: 20px;
        }

        background-color: $midnight;
        color: $lightmustard;
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 40px;
    }

    #stud {
        #studlogo {
            color: $bldorange;
            font-size: 70px;
            padding-bottom: 20px;
        }

        background-color: $darkmidnight;
        color: $lightmustard;
        text-align: center;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        padding: 30px;
        margin-left: 10px;
    }

    #see {
        padding-top: 20px;
        text-align: right;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    @include md {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        font-size: 16px;
    }

    @include lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        font-size: 19px;
    }


}