/* =============
    Header
============= */


header {
  #top {
    background-color: #ee7e51;
    color: $darkmidnight;
    padding: 10px;
    font-size: 13px;
    @include md{
      font-size: 15px;
    }
  }

  #nav {
    background-color: #242741;
    color: $mustard;
  }

  display: grid;
  grid-gap: 3px;
  padding-bottom: 20px;

  >div {
    display: grid;
    color: $mustard;
    grid-template-areas:
      "burger survival"
      "nav nav";
    grid-template-columns: 20% auto;

    @include lg {
      grid-template-areas: "nav survival";
      grid-template-columns: 20% auto;
    }


    #burger-container {
      align-items: center;
      display: flex;
      grid-area: burger;
      padding: 10px;

      @include lg {
        display: none !important;
      }

      i {
        cursor: pointer;
        font-size: rem-calc(30);
      }
    }

    #nav-container {
      display: none;
      grid-area: nav;
      padding: 20px 10px 10px;

      @include lg {
        display: block !important;
      }
    }
  }
}